<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.munazamfyp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AttendeeList"></activity>
        <activity android:name=".JoinedMeetinList" />
        <activity android:name=".MyMeetingList" />
        <activity android:name=".AddMeeting2" />
        <activity android:name=".AddMeeting1" />
        <activity android:name=".AddMeeting" />
        <activity android:name=".ForgotPassword" />

        <service
            android:name=".ReminderService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".navigation" />
        <activity android:name=".DetailedWorkload" />
        <activity android:name=".SetPriorityScreen" />
        <activity android:name=".DataTimeScreen" />
        <activity android:name=".SelectCourses" />
        <activity android:name=".SelectCourses2" />
        <activity android:name=".Fragments.UserInformation" />
        <activity android:name=".UserInformationActivity" />
        <activity
            android:name=".ContinueAs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mainmenu" />
        <activity android:name=".WorkloadView" />
        <activity android:name=".EnterWorkloadata" />
        <activity android:name=".EnterReminder" />
        <activity android:name=".ReminderView" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmailVerification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>